<div  id="menu">
  <ul>
    <li class="fas fa-folder"><a href="#" >&ensp; &ensp; inbox</a></li>
    <li class="fas fa-folder"><a href="#">&ensp; &ensp; finance</a></li>
    <li class="fas fa-folder"><a href="#">&ensp; &ensp; travel</a></li>
    <li class="fas fa-folder"><a href="#">&ensp; &ensp; personal</a></li>
    <li class="fas fa-folder"><a href="#">&ensp; &ensp; spam</a></li>
    <li class="fas fa-folder"><a href="#">&ensp; &ensp; drafts</a></li>
    <li class="fas fa-folder"><a href="#">&ensp; &ensp; sent</a></li>

  </ul>
</div>