<div class="row">
  <div class="nav-bar-left">
    <ul>
      <li class="fas fa-folder">
        <a routerLink="inbox" 
          >&ensp; &ensp; inbox</a
        >
      </li>
      <li class="fas fa-folder">
        <a routerLink="finance"  
          >&ensp; &ensp; finance</a
        >
      </li>
      <li class="fas fa-folder">
        <a routerLink="travel"  
          >&ensp; &ensp; travel</a
        >
      </li>
      <li class="fas fa-folder">
        <a routerLink="personal" 
          >&ensp; &ensp; personal</a
        >
      </li>
      <li class="fas fa-folder">
        <a routerLink="spam" 
          >&ensp; &ensp; spam</a
        >
      </li>
      <li class="fas fa-folder">
        <a routerLink="drafts" 
          >&ensp; &ensp; drafts</a
        >
      </li>
      <li class="fas fa-folder">
        <a routerLink="sent" 
          >&ensp; &ensp; sent</a
        >
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<div >
  <router-outlet name="message"></router-outlet>
</div>
