#search{
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
    height: 35px;
}

#album{
    height: 450px;
    margin-left: 5%;
    width: 100%;
    margin-top: 3%;
    overflow: scroll;
    background: #ebebe0;
}
.des{
    height: 180px;
    width: 70%;
    float: right;
    padding-top: 0%;
    margin-right: 5%;
}
.list{
    padding-bottom: 3%;
}
.image{
 width: 230px;
 height: 200px;
 margin-bottom: 2%;
}
#infor{
    height: auto;
    background: gray;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
